<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>58088587193-0ihenlg127p7tp4mmsreb1ps1fhgg1b3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.58088587193-0ihenlg127p7tp4mmsreb1ps1fhgg1b3</string>
	<key>API_KEY</key>
	<string>AIzaSyDJX37dF7tI6Hzi5fJcpOLYOLTvYCV4aNg</string>
	<key>GCM_SENDER_ID</key>
	<string>58088587193</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.google.AuthenticationWithFirebase</string>
	<key>PROJECT_ID</key>
	<string>authenticationwithfireba-65ead</string>
	<key>STORAGE_BUCKET</key>
	<string>authenticationwithfireba-65ead.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:58088587193:ios:befce1271d4add97e18068</string>
</dict>
</plist>